.employee-table-outer-container {
  margin-top: 80px;
}

.employee-table-outer-container .filter-container {
  text-align: right;
}

.employee-table-outer-container .employee-table {
  margin-top: 20px;
}

.employee-table-outer-container .employee-table th .col-heading {
  float: left;
  margin-left: 30%;
}
.employee-table-outer-container .employee-table th .sort-icon {
  float: right;
}
